agm-map {
  z-index: 1;
  position: absolute;
  height: inherit;
  width: inherit;
  padding: 0px;
  border-width: 0px;
  margin: 0px;
  left: 0px;
  top: 0px;
}
#pac-input {
  position: relative;
  z-index: 2;
  top: 0px;
  background-color: #fff;
  font-family: Roboto;
  font-size: inherit;
  font-weight: inherit;
  margin-left: 5%;
  text-overflow: ellipsis;
  width: 80%;
}
