agm-map {
  z-index: 1;
  position: absolute;
  height: inherit;
  width: inherit;
  padding: 0px;
  border-width: 0px;
  margin: 0px;
  left: 0px;
  top: 0px;
}
#pac-input {
  z-index: 0;
  position: absolute;
  top: 0px;
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 10%;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: inherit;
}
